*{
	margin: 0;
	padding: 0;
}

html,body,.auxLogin{
	width: 100%;
	height: 100%;
}

.lateralIzquierdo{
	width: 40%;
	background-color: #fff;/*color blanco*/
	height: 100%;
	float: left;
	display: flex;/*nos permite convertir a las etiquetas hijos como flexibles*/
	justify-content: center;/*centramos horizontal*/
	align-items: center;/*centrar vertical*/
}
.lateralDerecho{
	width: 60%;
	background-color: #0075bf;/*color personalizado */
	height: 100%;
	float: left;
	display: flex;/*nos permite convertir a las etiquetas hijos como flexibles*/
	justify-content: center;/*centramos horizontal*/
	align-items: center;/*centrar vertical*/
	flex-direction: column;/*alinear en columna los elementos, traduccion enviarlos hacia abajo */
}

.textoPrincipal{
	color: #fff;
	font-family: "segoe ui light";
	font-size: 35px;
	text-align: center;
}

.camposIngreso{
	display: block;/*permite colocar en bloque nuestra etiqueta, traduccion ocupa todo el espacio*/
	margin: 40px auto;/*40 de espacio arriba y abajo, auto centra horizontal*/
	width: 40%;/*es para que del 100% ocupe un 40%*/
	font-size: 25px;/**/
	border: none;/*elimina los bordes*/
	border-radius: 10px;/*redondea las 4 esquinas*/
	text-align: center;/*centra el texto*/
	padding: 5px;/*le brinda un espaciado*/
	color: #0075bf;/*color de fuente, es identico al fondo*/
	outline: none;/*elimina contorno de linea*/
	background-color: #fff;/*color blanco de fondo*/

}

.btnIniciar{
	padding: 10px;/*agregmos espaciado*/
	margin: 0 auto;/*centramos el boton*/
	display: block;/*permite colocar en bloque nuestra etiqueta*/
	background-color: initial;/*reiniciamos el color de fondo*/
	border: none;/*eliminamos bordes*/
	color: #fff;/*color blanco para cambiar el contorno de nuestro icono*/
}

.encabezado{
	width: 100%;
	display: grid;/*estableciendo modo tabla o rejilla*/
	grid-template-columns: 10% 80% 5% 5%;/*Estableciendo el ancho y cantidad de columnas*/
	justify-content: center;/*centrar horizontalmente*/
	align-items: center;/*centrar verticalmente*/
	padding: 25px 0;/*arriba y abajo 25px, el 0 nada en izquierda y derecha*/
	border-bottom: solid #0075bf 2px;
}
.btnMenu{
	width: 50%;
	color: #0075bf;/*color del intecap*/
	margin: 0 auto;
}

.btnCalcu{
	width: 20%;
	height: 20%
	color: #0075bf;/*color del intecap*/
	margin: 0 auto;
}


.textoPrincipal,.textAuxiliar{
	color: #0075bf;
	font-size: 35px;
	font-family: "segoe ui light";
	text-align: center;

}
.icoPrincipal{
	width: 70%;
	margin: 0 auto;
}
.auxHerramientas{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icosAccion{
	width: 40px;
	color: #0075bf;
}
.textAuxiliar{
	font-size: 22px;
	margin: 20px 10px;
}


